<div class="row text-center">
  <h1> Welcome to Jet Fuel </h1>
  <h3> The fastest way to short URLs </h3>
</div>

<div class="row text_center col-md-push-3 col-md-6 url-input" >
  <%= bootstrap_form_for(@url) do |f| %>
  <%= f.text_field :full_url %>
  <%= f.submit "Make it shorter!" %>
  <% end %>
</div>

<div class="data-table row text-center col-md-12">
  <table id="urls" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th> Full URL Title </th>
        <th> Shortented URL </th>
        <th> Time created </th>
        <th> Popularity</th>
      </tr>
    </thead>
    <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%=url.full_url  %></td>
        <td><%= link_to "#{url.short_url}",
        short_url_redirect_path(short_url: url.short_url),
        :target => "_blank" %></td>
        <td><%=url.created_at.strftime("%m/%d/%Y at %I:%M%p")  %></td>
        <td><%= url.visit_count  %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
